body,html{
    height:100%;
    margin: 0;
}
.fundo{
    background-image: url("EXB9jdd-black-texture-wallpaper.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.pj{
    display: block;
}